{
    "adapter": "sqlite",
    "adapters": {
        "json": {
            "path": "dissection.json"
        },
        "sqlite": {
            "path": "dissection.db"
        }
    },
    "dissectors": {
        "vmdk": {},
        "vhd": {},
        "vdi": {}
    },
    "carvers": {}
}
