#-------------------------------------------------------------------------------
# 
#-------------------------------------------------------------------------------
[datashark]
#
magic_file=
#
whitelist=whitelist.json
blacklist=blacklist.json
#
num_workers=2
#
include_files=
exclude_files=
#
include_dirs=
exclude_dirs=
